/* body {
    margin: 0 265px;
} */

header {
    height: 80px;
    border-bottom: 1px solid #eeeeee;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    height: 80px;
    max-width: 1280px;

    padding: 0 80px;
}

.logo {
    color: rgb(255, 56, 92);
}

.logo div:last-child {
    display: none;
}

.search-container {
    display: flex;
    align-items: center;

    min-height: 48px;

    margin: 0 24px;
    padding-left: 8px;

    border: 1px solid #dddddd;
    border-radius: 30px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: 0.1s;

    cursor: pointer;
}

.search-container:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.search-container button {
    font-size: 14px;
    font-weight: 550;

    color: rgb(34, 34, 34);

    background: none;
    border: none;

    cursor: pointer;
}

.buttontext {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    padding: 0 16px;
}​

.search-container .search-guests-button {
    font-weight: 400;

    color: rgb(106, 106, 106);
}

.search-vertical-line {
    height: 20px;

    border: 1px solid #dddddd;
}

.search-icon {
    min-height: 32px;
    min-width: 32px;

    margin-right: 7px;

    color: rgb(255, 255, 255);
    background-color: rgb(255, 56, 92);

    border-radius: 50%;

    cursor: pointer;
}

.search-icon svg {
    margin: 10px auto;
}

.search-and-nav-container {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

.nav-announce-and-idiom {
    display: flex;
    justify-content: flex-end;

    margin-right: 8px;
}

.nav-announce-and-idiom a {
    font-size: 14px;
    font-weight: 500;

    text-decoration: none;

    color: rgb(34, 34, 34);

    padding: 12px;

    text-wrap: nowrap;
}
.nav-announce-and-idiom a:hover {
    background-color: #f7f7f7;

    border-radius: 30px;
}

.nav-idiom button {
    width: 46px;
    height: 42px;

    padding: 12px;

    background: none;
    border: none;

    cursor: pointer;
}

.nav-idiom svg {
    margin: 0 auto;
}

.nav-idiom:hover {
    background-color: #f7f7f7;
    border-radius: 50%;
}

.nav-user button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;

    height: 48px;
    padding: 8px 8px 8px 14px;

    background: none;

    border: 1px solid #dddddd;
    border-radius: 30px;

    transition: 0.1s;

    cursor: pointer;
}

.nav-user button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.nav-user-icon {
    color: rgb(106, 106, 106);
}

main {
    margin: 22px auto;
    padding: 0 80px;

    margin-bottom: 0;

    max-width: 1280px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container h1 {
    font-size: 1.625rem;
    line-height: 30px;
}

.links-container {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;
    margin-left: 6px;

    border-radius: 8px;
}

.link:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.link a {
    font-size: 0.875rem;
    font-weight: 500;

    color: #000000;
}

.images-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;

    margin-top: 22px;
}

.images-grid img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    cursor: pointer;
    transition: .1s;
}

.images-grid img:hover {
    filter: brightness(85%);
}

.img-acomodacao1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.img-acomodacao1 img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.img-acomodacao3 img {
    border-top-right-radius: 15px;
}

.img-acomodacao5 {
    max-height: 250px;
}

.img-acomodacao5 img {
    border-bottom-right-radius: 15px;
    max-height: 250px;
}

.more-photos-button {
    position: relative;
    left: 80px;
    bottom: 60px;
}

.more-photos-button button {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 500;
    text-align: center;

    padding: 7px 15px;

    background-color: white;

    border: 1px solid rgb(34, 34, 34);
    border-radius: 8px;

    cursor: pointer;
}

.more-photos-button button:hover {
    background-color: #f7f7f7;
}

.infos-container {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #dddddd;
}

.info-container {
    width: 60%;
}

.price-container {
    max-width: 30%;
}

.overview-container {
    padding: 32px 0;

    border-bottom: 1px solid #dddddd;
}

.overview-text-top h2 {
    font-size: 22px;
    font-weight: 500;
}

.overview-text-middle {
    margin-top: 4px;
}

.overview-text-middle li {
    display: inline-block;

    font-size: 16px;
    color: rgb(34, 34, 34);
}

.overview-text-bottom {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;

    gap: 4px;

    margin-top: 8px;
}

.overview-text-bottom a {
    text-decoration: underline;

    color: rgb(34, 34, 34);
}

.host {
    display: flex;
    gap: 24px;

    padding-top: 24px;

    border-bottom: 1px solid #dddddd;
}

.host button {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;

    background: none;

    cursor: pointer;
}

.host svg {
    position: relative;
    left: 23px;
    bottom: 20px;

    cursor: default;
}

.host button img {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}

.host h3 {
    font-size: 16px;
    font-weight: 500;
}

.host-info {
    display: flex;

    margin-top: 4px;

    font-size: 14px;
    color: rgb(106, 106, 106);
}

.cool-infos {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 32px 0;

    border-bottom: 1px solid #dddddd;
}

.cool-info {
    display: flex;
    gap: 24px;
}

.cool-info h3 {
    font-size: 16px;
    font-weight: 500;
}

.cool-info p {
    font-size: 14px;
    color: rgb(106, 106, 106);
    margin-top: 4px;
}

.translation-warn {
    padding-top: 32px;
}

.translation-warn div {
    display: flex;
    gap: 2px;

    font-size: 16px;
    padding: 16px;
    background-color: rgb(247, 247, 247);

    border-radius: 8px;
}

.translation-warn div button {
    font-size: 16px;
    font-weight: 550;

    text-decoration: underline;

    border: none;
    background: none;

    cursor: pointer;

    text-wrap: nowrap
}

.description {
    padding: 32px 0;

    border-bottom: 1px solid #dddddd;
}

.description p {
    font-size: 16px;
    line-height: 24px;
}

.description button {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: 16px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;

    border: none;
    background: none;

    cursor: pointer;
}

.place-info {
    padding: 48px 0;

    border-bottom: 1px solid #dddddd;
}

.place-info h2 {
    font-size: 22px;
    font-weight: 500;

    padding-bottom: 24px;
}

.place-info button {
    margin-top: 24px;
    padding: 13px 23px;

    font-size: 16px;
    font-weight: 500;
    text-align: center;

    border: 1px solid rgb(34, 34, 34);
    border-radius: 8px;

    background: none;
    cursor: pointer;
}

.place-info button:hover {
    border-color: #000000;
    background-color: #F7F7F7;
}

.icon-infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 4px;
}

.icon-info {
    display: flex;
    gap: 16px;

    min-width: 24px;
    max-width: 300px;
}

.icon-info-line-through {
    text-decoration: line-through;
}

.calendar-container {
    padding: 48px 0;
}

.calendar-container img {
    height: 325px;

    padding: 20px 0;
}

.calendar-text h2 {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
}

.calendar-text p {
    font-size: 14px;
    color: rgb(106, 106, 106);

    padding-top: 8px;
}

.calendar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-buttons button {
    border: none;
    background: none;

    padding: 8px;

    cursor: pointer;
}

.calendar-buttons button:hover {
    background-color: #F7F7F7;
}

.calendar-buttons button:first-child {
    border-radius: 50%;
}

.calendar-buttons button:nth-child(2) {
    font-size: 14px;

    border-radius: 8px;

    font-weight: 500;
    text-decoration: underline;
}

.price-box {
    padding: 24px;
    margin-top: 32px;

    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
}

.price-box-top span:first-child {
    font-size: 22px;
    font-weight: 500;
}

.price-box-top span:nth-child(2) {
    font-size: 16px;
}

.checking-container {
    display: flex;
    margin-top: 24px;

    border: 1px solid #b0b0b0;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.checking-container button {
    height: 100%;
    padding: 13px 73px 13px 11px;

    text-align: start;

    background: none;
    border: none;

    cursor: pointer;
}

.checking-container .checking {
    border-right: 1px solid #b0b0b0;
}

.checking div:first-child {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 4px;
}

.checkout div:first-child {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 4px;
}

.checking div:nth-child(2) {
    font-size: 14px;
}

.checkout div:nth-child(2) {
    font-size: 14px;
}

.guests-amount button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;

    padding: 13px 16px 13px 11px;

    border-bottom: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    border-top: none;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    text-align: start;
    width: 100%;

    cursor: pointer;
}

.guests-text div:first-child {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 2px;
}

.guests-text div:nth-child(2) {
    font-size: 14px;
}

.booking-button {
    font-size: 16px;
    font-weight: 500;

    width: 100%;

    margin-top: 16px;

    padding: 14px 24px;

    border: none;
    border-radius: 8px;

    color: white;
    background-image: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);

    cursor: pointer;
}

.price-box-middle {
    margin-top: 16px;
}

.price-box-middle div {
    font-size: 14px;
    text-align: center;

    color: rgb(34, 34, 34);
}

.price-box-bottom {
    margin-top: 24px;
}

.price {
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    color: rgb(34, 34, 34);
}

.price span:first-child {
    text-decoration: underline;
    cursor: pointer;
}

.price-padding {
    padding-top: 16px;
}

.total-price {
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 500;

    margin-top: 24px;
    padding-top: 24px;

    border-top: 1px solid #dddddd;
}

.whole-price {
    padding-bottom: 48px;
}

.best-price {
    display: flex;
    gap: 16px;

    margin-top: 24px;
    padding: 24px;

    border: 1px solid #dddddd;
    border-radius: 12px;
}

.best-price-text {
    min-height: 40px;
}

.best-price-text h2 {
    font-size: 16px;
    font-weight: 500;
}

.best-price-text p {
    font-size: 14px;
    margin-top: 4px;

    color: rgb(106, 106, 106);
}

.report {
    margin-top: 24px;
}

.report button {
    display: flex;
    justify-content: center;
    gap: 19px;

    width: 100%;

    border: none;
    background: none;

    color: rgb(106, 106, 106);

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}

.report button p {
    text-decoration: underline;
}

.avaliation-container {
    padding: 48px 0;
    border-bottom: 1px solid #dddddd;
}

.amount-comments-container {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-bottom: 40px;
}

.items-avaliation {
    display: flex;
}

.item-avaliation-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 170px;
    width: 100%;
    height: 106px;

    font-size: 12px;
    font-weight: 500;
}


.item-avaliation-bars ol {
    list-style: none;
}

.item-avaliation-bars ol li {
    display: flex;
    align-items: center;
    gap: 6px;
}

.black-bar {
    height: 4px;
    width: 70%;
    background-color: #222222;

    border-radius: 4px;
}

.gray-bar {
    height: 4px;
    width: 70%;
    background-color: #dddddd;

    border-radius: 4px;
}

.item-avaliation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 106px;
    max-width: 145px;
    width: 100%;

    padding: 0 24px 4px 24px;
    border-left: 1px solid #dddddd;
}

.item-avaliation span {
    font-size: 14px;
    font-weight: 500;
}

.item-avaliation span:last-child {
    font-size: 18px;
}

.comments-section {
    padding: 48px 0;
    border-bottom: 1px solid #dddddd;
}

.comments-section button {
    padding: 13px 23px;
    font-size: 16px;
    font-weight: 500;

    border: 1px solid #222222;
    border-radius: 8px;

    background: none;

    cursor: pointer;

}

.comments-section button:hover {
    background-color: #F7F7F7
}

.comments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.comment-container {
    max-width: 473px;
    margin-right: 95px;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 14px;
}

.comment-user img {
    border-radius: 100%;

    height: 100%;
    max-height: 48px;

    width: 100%;
    max-width: 48px;

    object-fit: cover;
}

.comment-user h3 {
    font-size: 16px;
}

.comment-user span {
    font-size: 14px;
}

.comment-avaliation {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: 14px;
    margin-bottom: 4px;

    font-size: 14px;
}

.comment-avaliation span:last-child {
    color: rgb(106, 106, 106);
}

.comment-stars {
    display: flex;
    gap: 1px;
}

.location-section {
    padding: 48px 0;
    border-bottom: 1px solid #dddddd;
}

.location-section h2 {
    font-size: 22px;
    font-weight: 500;
}

.location-section img {
    width: 100%;
    padding: 24px 0
}

.location-section h3 {
    font-size: 16px;
    font-weight: 500;
}

.location-section p {
    padding: 15px 0 0 0;
}

.location-section button {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: 16px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;

    border: none;
    background: none;

    cursor: pointer;
}

.host-info-section {
    padding: 48px 0;
    border-bottom: 1px solid #dddddd;
}

.host-info-section h2 {
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 24px;
}

.host-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    max-height: 230px;

    max-width: 380px;
    width: 100%;

    border-radius: 24px;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px 0px;
}

.host-card img {
    height: 100%;
    max-height: 104px;

    width: 100%;
    max-width: 104px;

    border-radius: 100%;
    object-fit: cover;
}


.host-card h3 {
    font-size: 32px;
    font-weight: 700;

    text-align: center;
}

.host-card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    max-width: 258px;
    width: 100%;
}

.superhost-span {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 14px;
    font-weight: 500;
}

.host-card-right {
    display: flex;
    flex-direction: column;
    gap: 12px;

    max-width: 96px;
}

.host-card-right-span span:first-child {
    font-size: 22px;
    font-weight: 700;
}

.host-card-right-span span:last-child {
    font-size: 10px;
    font-weight: 500;

    padding-right: 5px;
}

.host-card-right hr {
    color: #dddddd;
    border-color: #dddddd;
}

.horizontal-line {
    border-bottom: 1px solid #dddddd;
}

.host-info-text {
    margin-top: 32px;
}

.host-info-text span {
    display: flex;
    align-items: center;
    gap: 12px;
}

.host-info-text-spans {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.host-info-text p {
    margin-top: 32px;
    max-width: 410px;
}

.host-info-text button {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: 16px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;

    border: none;
    background: none;

    cursor: pointer;
}

.host-info-section-items {
    display: flex;
    gap: 48px;
}

.host-info-left {
    min-width: 410px;
}

.host-info-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.host-info-right h3 {
    font-size: 18px;
    font-weight: 500;
}

.host-info-right p {
    margin-top: 16px;
}

.cohost {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-top: 12px;
}

.cohost img {
    height: 40px;
    max-height: 100%;

    width: 100%;
    max-width: 40px;

    border-radius: 100%;
    object-fit: cover;
}

.cohost-info {
    margin-top: 16px;
}

.host-info-right button {
    padding: 14px 24px;
    max-width: 328px;

    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: 8px;
    border: none;

    cursor: pointer;
}

.host-info-right button:hover {
    background-color: black;
}

.protect-payment {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-top: 24px;
}

.protect-payment span {
    font-size: 12px;
}

.what-to-know-section {
    padding: 48px 0;
}

.what-to-know-section h2 {
    font-size: 22px;
    font-weight: 500;

    padding-bottom: 24px;
}

.what-to-know-items {
    display: flex;
    justify-content: space-between;
}

.what-to-know-items h3 {
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 16px;
}

.what-to-know-item {
    max-width: 380px;
    width: 100%;
}

.what-to-know-item div {
    margin-bottom: 16px;
}

.what-to-know-item button {
    display: flex;
    align-items: center;
    gap: 4px;

    margin-top: 16px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;

    border: none;
    background: none;

    cursor: pointer;
}

footer {
    background-color: rgb(247, 247, 247);
}

.footer-top {
    padding: 32px 0;

    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.footer-top-items {
    padding: 0 80px;
    max-width: 1280px;
    margin: 0 auto;
}

.footer-top-items span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-top-items a {
    text-decoration: none;
    color: #000000;
}

.footer-top-items a:hover {
    text-decoration: underline;
}

.footer-middle {
    display: flex;
    justify-content: space-between;

    padding: 0 80px;
    max-width: 1280px;
    margin: 0 auto;

    border-bottom: 1px solid #dddddd;
}

.footer-middle-item {
    padding: 48px 0;
    max-width: 370px;
    width: 100%;
}

.footer-middle-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-middle-item h3 {
    font-size: 14px;
    font-weight: 500;
}

.footer-middle-item a {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}

.footer-middle-item a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;

    padding: 24px 80px;
    max-width: 1280px;
    margin: 0 auto;

    font-size: 14px;
}


.footer-bottom a {
    text-decoration: none;
    color: #000000;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-bottom div:last-child {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-bottom div:last-child span {
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 1128px) {
    main {
        padding: 0 40px;
    }

    .header-container {
        padding: 0 40px;
    }

    .logo div:first-child {
        display: none;
    }

    .logo div:last-child {
        display: block;
    }

    .icon-infos {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}