/* body {
    margin: 0 265px;
} */

header {
    height: 80px;
    border-bottom: 1px solid #eeeeee;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    height: 80px;
    max-width: 1280px;

    padding: 0 80px;
}

.logo {
    color: rgb(255, 56, 92);
}

.search-container {
    display: flex;
    align-items: center;

    height: 48px;

    min-width: 348px;

    margin: 0 0 0 185px;
    padding-left: 8px;

    border: 1px solid #dddddd;
    border-radius: 30px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: 0.1s;

    cursor: pointer;
}

.search-container:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.search-container button {
    font-size: 14px;
    font-weight: 550;

    color: rgb(34, 34, 34);

    background: none;
    border: none;

    padding: 0 16px;

    cursor: pointer;
}

.search-container .search-guests-button {
    font-weight: 400;

    color: rgb(106, 106, 106);
}

.search-vertical-line {
    height: 20px;

    border: 1px solid #dddddd;
}

.search-icon {
    height: 32px;
    width: 32px;

    margin-right: 7px;

    color: rgb(255, 255, 255);
    background-color: rgb(255, 56, 92);

    border-radius: 50%;

    cursor: pointer;
}

.search-icon svg {
    margin: 10px auto;
}

nav {
    display: flex;
    align-items: center;
}

.nav-announce-and-idiom {
    display: flex;
    justify-content: flex-end;

    margin-right: 8px;
}

.nav-announce-and-idiom a {
    font-size: 14px;
    font-weight: 500;

    text-decoration: none;

    color: rgb(34, 34, 34);

    padding: 12px;
}
.nav-announce-and-idiom a:hover {
    background-color: #f7f7f7;

    border-radius: 30px;
}

.nav-idiom button {
    width: 46px;
    height: 42px;

    padding: 12px;

    background: none;
    border: none;

    cursor: pointer;
}

.nav-idiom svg {
    margin: 0 auto;
}

.nav-idiom:hover {
    background-color: #f7f7f7;
    border-radius: 50%;
}

.nav-user button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;

    height: 48px;
    padding: 8px 8px 8px 14px;

    background: none;

    border: 1px solid #dddddd;
    border-radius: 30px;

    transition: 0.1s;

    cursor: pointer;
}

.nav-user button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.nav-user-icon {
    color: rgb(106, 106, 106);
}

main {
    margin: 22px auto;
    padding: 0 80px;

    max-width: 1280px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container h1 {
    font-size: 1.625rem;
    line-height: 30px;
}

.links-container {
    display: flex;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;
    margin-left: 6px;

    border-radius: 8px;
}

.link:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.link a {
    font-size: 0.875rem;
    font-weight: 500;

    color: #000000;
}

.images-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;

    margin-top: 22px;
}

.images-grid img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    cursor: pointer;
    transition: .1s;
}

.images-grid img:hover {
    filter: brightness(85%);
}

.img-acomodacao1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.img-acomodacao1 img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.img-acomodacao3 img {
    border-top-right-radius: 15px;
}

.img-acomodacao5 {
    max-height: 250px;
}

.img-acomodacao5 img {
    border-bottom-right-radius: 15px;
    max-height: 250px;
}

.more-photos-button {
    position: relative;
    left: 80px;
    bottom: 60px;
}

.more-photos-button button {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 500;
    text-align: center;

    padding: 7px 15px;

    background-color: white;

    border: 1px solid rgb(34, 34, 34);
    border-radius: 8px;

    cursor: pointer;
}

.more-photos-button button:hover {
    background-color: #f7f7f7;
}

.infos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-container {
    width: 60%;
}

.overview-container {
    padding: 32px 0;

    border-bottom: 1px solid #dddddd;
}

.overview-text-top h2 {
    font-size: 22px;
    font-weight: 500;
}

.overview-text-middle {
    margin-top: 4px;
}

.overview-text-middle li {
    display: inline-block;

    font-size: 16px;
    color: rgb(34, 34, 34);
}

.overview-text-bottom {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;

    gap: 4px;

    margin-top: 8px;
}

.overview-text-bottom a {
    text-decoration: underline;

    color: rgb(34, 34, 34);
}

/* .price-container {
    margin-left: 84px;
} */

.price-box {
    padding: 24px;
    margin-top: 32px;

    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
}

.checking-container {
    display: flex;

    border: 1px solid #b0b0b0;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.checking-container button {
    height: 100%;
    padding: 13px 73px 13px 11px;

    text-align: start;

    background: none;
    border: none;
}

.checking-container .checking {
    border-right: 1px solid #b0b0b0;
}

.guests-amount button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: none;

    padding: 13px 16px 13px 11px;

    border-bottom: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    border-top: none;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    text-align: start;
    width: 100%;
}

@media (max-width: 1128px) {
    main {
        padding: 0 40px;
    }

    .header-container {
        padding: 0 40px;
    }
}